/*______________________________________________________________________________________________________________*/


/* Aqui vem todo css de tags em geral */


/*______________________________________________________________________________________________________________*/

* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
}

hr {
    margin: 0%;
    padding: 0%;
}

h1 {
    font-size: 40px;
}


/*______________________________________________________________________________________________________________*/


/* Aqui vem todo css por id */


/*______________________________________________________________________________________________________________*/

#conf_menu {
    text-align: right;
}

#conf_menu div {
    background-color: #343a40;
    margin: 0%;
    padding: 0%;
}

#conf_menu .col-4 {
    text-align: left;
}

#conf_menu h1,
h5 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(186, 229, 247);
}

#conf_menu img {
    height: 40px;
    margin-right: 10px;
}

#conf_menu li {
    border-left: 1px solid #000;
    margin-left: 2px;
}

#conf_menu ul {
    margin-left: 47%;
}

#grad1 {
    background-image: linear-gradient(transparent 50%, rgb(91, 201, 245) 100%), url(../img/img20.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

#grad2 {
    background-image: linear-gradient(transparent 50%, rgb(91, 201, 245) 100%), url(../img/img17.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

#grad3 {
    background-image: linear-gradient(transparent 50%, rgb(91, 201, 245) 100%), url(../img/img2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}


/*______________________________________________________________________________________________________________*/


/* Aqui vem todo css por class */


/*______________________________________________________________________________________________________________*/

.cor_fundo_azul {
    background-color: rgb(91, 201, 245);
}

.cor_fundo_amarelo {
    background-color: rgb(252, 255, 45);
}


/* Tags do bootstrap editadas aqui */

.container-fluid {
    padding: 0%;
}

.carousel-inner,
.carousel-item {
    height: 80vh;
}